<ActionBar>
    <ActionItem (tap)="showSlideout($event)" ios.position='right'>
        <StackLayout class="navbar_image_wrapper" ios.horizontalAlignment='right'>
            <Label text="MENU" textWrap="true"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>


<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <GridLayout rows="auto,*,100" columns="" class="side-drawer-panel">
            <StackLayout row='0'>
                <Label text="LOGO HERE" textWrap="true"></Label>
            </StackLayout>
            <StackLayout row='1'>
                <Button text=" MY ITEMS " (tap)="selectedFilteredView(0,' MY ITEMS ')" [class]='selectedViewIndex === 0 ? "slide-out-btn-selected " : "slide-out-btn "'></Button>
                <Button text=" OPEN ITEMS " (tap)="selectedFilteredView(1,' MY ITEMS ')" [class]='selectedViewIndex === 1 ? "slide-out-btn-selected " : "slide-out-btn "'></Button>
                <Button text=" FINISHED ITEMS " (tap)="selectedFilteredView(2,' MY ITEMS ')" [class]='selectedViewIndex === 2 ? "slide-out-btn-selected " : "slide-out-btn "'></Button>
            </StackLayout>
            <StackLayout row='2'>
                <Button text="LOGOUT " (tap)="logoutTap() "></Button>
            </StackLayout>
        </GridLayout>

    </StackLayout>
    <StackLayout tkMainContent>
        <GridLayout class="backlog-container" rows="*, 60,60">

            <GridLayout row="0" class="list-container">
                <pt-item></pt-item>
            </GridLayout>

            <StackLayout row="1" class="btn-add-wrapper">
                <Button text="Add" class="btn-add" (tap)="showAddItemModal()"></Button>
            </StackLayout>
            <StackLayout row='2'>
                <Button text="OPEN DRAWER " (tap)="openDrawer() " class="drawerContentButton ">
                </Button>

            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>